datasets
imbalanced-learn
joblib
matplotlib
nltk
numpy
openai
pandas
protobuf<=3.20.1
psycopg2-binary
python-dotenv
pytorch-lightning
requests
requests-oauthlib>=1.3.0
scikit-learn
scipy
seaborn
sentence-transformers>=2.2.2
sqlalchemy
torch
tqdm
transformers>=4.30.0
peft>=0.4.0
pytest
pytorch-lightning
fastapi
uvicorn
