datasets
imbalanced-learn
joblib
matplotlib
nltk
numpy
openai
pandas
protobuf<=3.20.1
python-dotenv
pytorch-lightning
requests
scikit-learn
scipy
seaborn
sentence-transformers
torch
tqdm
transformers
pytorch-lightningpytest
pytorch-lightning
